{% load static %}


<div class="loader">
	<div class="inner"></div>
	</div>

	<div id="slides">

    <div class="overlay"></div>

    <div class="slides-container">
        <img src="{% static 'img/slide1.jpg' %}">
        <img src="{% static 'img/slide2.jpg' %}">
        <img src="{% static 'img/slide3.jpg' %}">
    </div>

    <div class="titleMessage">
        <div class="heading">
            <p class="main">MICHEL JEAN</p>
            <p class="sub typed"></p>
        </div>
    </div>

    <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
    </nav>
</div>

