body {
	font-size: 14px;
    color: #fff;
    background-color: #252627;
    letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
	letter-spacing: 7px;
	font-family: 'PT sans', 'sans-serif';
	font-style: italic;
	font-style: bold;
}

.titleMessage .heading .main {
	font-size: 70px;
}

.titleMessage .heading .sub {
	font-size: 35px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

.skillsSection,
.projectSection {
	background-color: #1785A7;
	color: #252627;
}

.skill {
	text-align: center;
	margin-left: 10px;
}


.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}


.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #48CFAD;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.contactButton {
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #48CFAD;
	background-color: #fff;
}

.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	border-radius: 50px;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #444;
	border-color: #444;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #48CFAD;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

#navigation {
	background-color: #181818;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/giphy.gif) center center no-repeat;
}


.s-m {
	margin: 50px;
	justify-content: space-evenly;
	display: flex;
	text-align: center;
}

.s-m a{
	text-decoration: none;
	font-size: 28px;
	color: #444;
	width: 60px;
	height: 60px;
	text-align: center;
	transition: 0.4s all;
	line-height: 58px;
	cursor: pointer;
	background: #48CFAD;
	border-radius: 50%;
}
 .s-m a:hover {
	transform: scale(1.2);
 }

.skillsme {
    text-align: right;
    font-size: 8rem;
	opacity: .1;
	color: #032e3b;
	font-family: 'PT sans', 'sans-serif';
	margin-top: -100px;
	margin-right: 40px;
}

.aboutme {
	font-size: 8rem;
    z-index: 0;
	opacity: .1;
	color: #707070;
	font-family: 'PT sans', 'sans-serif';
	margin-top: -100px;
	margin-left: 30px;
}

form {
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control {
	width: 40%;
	background: #444;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: black;
	font-size: 18px;
	margin-bottom: 16px;
	margin-left: 30%;
}

input {
	height: 45px;
}

form .submit {
	background: #1785A7;
	border-color: transparent;
	color: #252627;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover {
	background-color: #48CFAD;
	cursor: pointer;
}

.skills-bar p{
    margin-bottom: 6px;
	font-weight: 600;
	font-size: 20px;
	color: #032e3b;
	text-align: left;
}
.progress-bar{
	border-radius: 16px;
	color: #fff;
	background-color: #252627;
}
.progress{
    border-radius: 16px !important;
	margin-bottom: 20px;
}



